Repository gliff-ai/annotate, pull requests merged in 2021-03, with the labels that each got.

#13 add minimap mouse interactions
  package-lock.json
  package.json
  src/annotation/index.ts
  src/baseCanvas/Canvas.tsx
  src/baseCanvas/Minimap.tsx
  src/components/BaseButton.tsx
  src/index.tsx
  src/toolboxes/background/Canvas.tsx
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
  webpack.config.js
Labels: enhancement

#18 Chas nelson1990/moveto react material UI
  package-lock.json
  package.json
  public/index.html
  public/test.png
  public/zebrafish-heart.jpg
  src/baseCanvas/Canvas.tsx
  src/baseCanvas/Minimap.tsx
  src/components/BaseButton.tsx
  src/index.tsx
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
Labels: enhancement

#39 feat: Add Readme.md
  README.md
  package.json
Labels: documentation

#41 Chas nelson1990/issue40
  src/annotation/index.ts
  src/annotation/interfaces.ts
  src/baseCanvas/Canvas.tsx
  src/baseCanvas/Minimap.tsx
  src/toolboxes/background/Canvas.tsx
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/background/drawImage.ts
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
Labels: bug

#42 fix: Zoom out only if zoomed in
  src/ui.tsx
Labels: bug

#43 fix: Reuse empty annotation at change of active tool
  src/annotation/index.ts
  src/ui.tsx
Labels: bug

#46 feat: Add new points to the active spline
  src/keybindings.ts
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
Labels: enhancement

#58 feat: Add labels to annotations
  .gitignore
  package.json
  src/annotation/index.ts
  src/components/Labels.tsx
  src/ui.tsx
Labels: enhancement
