Repository gliff-ai/annotate, pull requests merged in 2021-08, with the labels that each got.

#274 feat: style spline toolbox
  src/assets/close-spline-icon.svg
  src/assets/convert-icon.svg
  src/assets/fill-icon.svg
  src/assets/lasso-spline-icon.svg
  src/assets/spline-icon.svg
  src/components/tooltips.ts
  src/keybindings/keybindings.ts
  src/toolboxes/labels/Submenu.tsx
  src/toolboxes/paintbrush/Submenu.tsx
  src/toolboxes/spline/Canvas.tsx
  src/toolboxes/spline/Submenu.tsx
  src/ui.tsx
Labels: ui/x

#307 feat: position BaseSlider not to hide under upload/download buttons wh…
  src/ui.tsx
Labels: bug

#316 feat: add percy
  package-lock.json
  package.json
  snapshots.yml
Labels: enhancement, test

#317 feat: (almost) complete Toolbox refactor
  package-lock.json
  package.json
  src/Toolboxes.ts
  src/annotation/index.ts
  src/components/baseCanvas/Canvas.tsx
  src/components/baseCanvas/Minimap.tsx
  src/components/baseCanvas/index.ts
  src/components/baseCanvas/transforms.ts
  src/components/tools.ts
  src/download/DownloadAsTiff.tsx
  src/download/UI.tsx
  src/index.tsx
  src/toolboxes/background/Canvas.tsx
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/boundingBox/Canvas.tsx
  src/toolboxes/boundingBox/Toolbar.tsx
  src/toolboxes/boundingBox/Toolbox.ts
  src/toolboxes/boundingBox/index.ts
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/paintbrush/Store.ts
  src/toolboxes/paintbrush/Submenu.tsx
  src/toolboxes/paintbrush/Toolbar.tsx
  src/toolboxes/paintbrush/Toolbox.ts
  src/toolboxes/paintbrush/index.ts
  src/toolboxes/spline/Canvas.tsx
  src/toolboxes/spline/Store.ts
  src/toolboxes/spline/Submenu.tsx
  src/toolboxes/spline/Toolbar.tsx
  src/toolboxes/spline/Toolbox.ts
  src/toolboxes/spline/index.ts
  src/tooltips/index.ts
  src/ui.tsx
Labels: enhancement
