Repository gliff-ai/annotate, pull requests merged in 2022-05, with the labels that each got.

#714 feat: upgrade percy
  package-lock.json
  package.json
Labels: enhancement

#716 feat: Import popover from style
  package-lock.json
  package.json
  src/components/BaseSlider.tsx
  src/components/baseCanvas/Canvas.tsx
  src/components/baseCanvas/Minimap.tsx
  src/components/baseCanvas/transforms.ts
  src/components/plugins/PluginsCard.tsx
  src/toolboxes/background/Canvas.tsx
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/background/Toolbar.tsx
  src/toolboxes/background/drawImage.ts
  src/toolboxes/boundingBox/Canvas.tsx
  src/toolboxes/labels/Submenu.tsx
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/paintbrush/Toolbar.tsx
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
Labels: enhancement

#725 fix: support cmd key on click
  src/components/baseCanvas/Canvas.tsx
  src/keybindings/index.ts
Labels: bug

#730 feat: Cubic Bezier splines
  package-lock.json
  src/annotation/annotation.test.ts
  src/annotation/fillBrushData.ts
  src/annotation/index.ts
  src/index.tsx
  src/keybindings/keybindings.tsx
  src/toolboxes/background/Canvas.tsx
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/boundingBox/Canvas.tsx
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/spline/Canvas.tsx
  src/toolboxes/spline/Store.ts
  src/toolboxes/spline/Toolbar.tsx
  src/toolboxes/spline/interfaces.ts
  src/ui.tsx
Labels: enhancement

#734 fix: bump style
  package-lock.json
  package.json
Labels: bug

#738 build: fix e2e tests
  .github/workflows/automate.yml
  __tests__/e2e/paintbrush.test.js
  package-lock.json
  package.json
Labels: dependencies

#704 feat: Pinch to zoom
  package-lock.json
  package.json
  src/components/baseCanvas/Canvas.tsx
  src/components/baseCanvas/transforms.ts
  src/toolboxes/background/Minimap.tsx
  src/toolboxes/paintbrush/Canvas.tsx
  src/toolboxes/spline/Canvas.tsx
Labels: enhancement

#754 feat: allow drag-and-drop creationg of BBs ✨
  src/toolboxes/boundingBox/Canvas.tsx
Labels: enhancement

#751 build: rm chromedriver
  package-lock.json
  package.json
Labels: dependencies

#755 feat: Add ability to pin some dialogs
  package-lock.json
  package.json
  src/components/plugins/PluginsCard.tsx
  src/toolboxes/background/Toolbar.tsx
  src/toolboxes/labels/Submenu.tsx
  src/ui.tsx
Labels: enhancement

#758 fix: delete bezier
  src/annotation/index.ts
  src/toolboxes/spline/Canvas.tsx
  src/ui.tsx
Labels: bug
