Repository gliff-ai/annotate, pull requests merged in 2022-01, with the labels that each got.

#521 feat: add updated github actions
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/add-to-project.yml
  .github/workflows/bot-automerge.yml
  .github/workflows/check-pr.yml
  .github/workflows/depandabot-automerge.yml
  .github/workflows/dependency-minor-batch.yml
  .github/workflows/lint-build-test.yml
  .github/workflows/pr-title-labeler.yml
  .gitignore
Labels: enhancement, deployment

#503 test: Annotations class unit tests, including undo/redo
  src/annotation/annotation.test.ts
  src/annotation/index.ts
Labels: test

#534 fix: disappearing annotations
  src/annotation/index.ts
  src/toolboxes/boundingBox/Toolbar.tsx
  src/ui.tsx
Labels: bug

#513 fix: Selenium action rewrite
  .github/workflows/automate.yml
  .gitignore
  __tests__/e2e/helpers.js
  __tests__/e2e/paintbrush.ios.test.js
  __tests__/e2e/paintbrush.test.js
  package-lock.json
  package.json
Labels: bug

#527 fix: prevent default of key shortcuts we override
  index.html
  src/keybindings/index.ts
  src/keybindings/keybindings.tsx
Labels: bug

#537 fix: listing 3D image slices as separate channels
  src/ui.tsx
Labels: bug

#510 feat: Test fill paintbrush
  src/annotation/annotation.test.ts
  src/annotation/fillBrushData.ts
  src/annotation/index.ts
  src/annotation/paintbrush.test.tsx
  src/toolboxes/paintbrush/Canvas.tsx
Labels: enhancement

#551 feat: standardise repo labels 🔨
  .github/labels.yml
  .github/workflows/apply-labels.yml
Labels: enhancement, question

#633 feat: add snackbar warning users they cannot change toolbox while annotation is active
  src/ui.tsx
Labels: enhancement
